@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  @apply dark:bg-black;
}

::selection {
  background: #e5e5e5;
  color: #000000;
}

.bg-lukeivie {
  background-image: url("/bg/lukeivie-og.png") !important;
}

.bg-gifted {
  background-image: url("/bg/gifted-og.png") !important;
}

.bg-discountmags {
  background-image: url("/bg/discountmags-og.png") !important;
}

.bg-younglukemusic {
  background-image: url("/bg/younglukemusic-og.png") !important;
}

.bg-openforce {
  background-image: url("/bg/openforce-og.png") !important;
}

.bg-ylpoolparty {
  background-image: url("/bg/ylpoolparty-og.png") !important;
}

.bg-tangaredesign {
  background-image: url("/bg/tangaredesign-og.png") !important;
}

.bg-911fosterpets {
  background-image: url("/bg/911fosterpets-og.png") !important;
}
